# === Java & Eclipse ===
.classpath
.project
.settings/
bin/
*.iml

# === Maven / Gradle build ===
target/
build/

# === IDEs ===
.idea/
.vscode/

# === OS files ===
.DS_Store
Thumbs.db

# === Reports & Logs ===
reports/
logs/
*.log

# === TestNG / JUnit output ===
test-output/
surefire-reports/chaintest
chaintest-core-1.0.12.jar
src/main/java/Framework/resources/chaintest.properties
